*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
 }
 body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
 }
 section {
     width: 600px;
     height: 600px;
     margin: 50px auto 0;
     border: 1px solid red;
     display: grid;
     grid-gap: 30px;
 }
 section div {
     background-color: darkgoldenrod;
 }
.col-3 {
    grid-column: span 3;
}
.col-1 {
    grid-column: span 1;
}
.col-2 {
    grid-column: span 2;
}