* {
    box-sizing: border-box;
}
main {
    width: 600px;
    margin: 0 auto;
}
header {
    width: 100%;
    background: grey;
    height: 150px;
    margin-bottom: 30px;
}
footer {
    width: 100%;
    background: grey;
    height: 150px;
}
.row {
    display: flex;
    margin-bottom: 30px;
}
.row div {
    background: grey;
    min-height: 150px;
}
.col-1 {
   min-width: 180px;
}
.col-3 {
    flex-grow: 1;
    margin-left: 30px;
}
.row .col-2 {
    min-width: 180px;
}
.col-2.full {
    margin-right: 30px;
}
.col-3 {
    width: 200px;
}
.row-2, .row-3, .row-4 {
    justify-content: space-between;
}
.nm {
    margin-right: 0;
}
.full {
    flex-grow: 1;
}
.row.row-4 {
    flex-wrap: wrap;
    max-width: 390px;
    background: transparent;
    margin-bottom: 0;
}
.row .col-4 {
    width: 180px;
    margin-bottom: 30px;
}
.row .col-4:last-child {
    flex-grow: 1;
    margin-bottom: 0;

}
.row .tr {
    background: transparent;
}