header, div, footer {
    height: 150px;
    margin-bottom: 30px;
    background: blue;
    color: #fff;
}
main {
    width: 820px;
    margin: 0 auto;
}
.col-1, .col-2, .col-3 {
    width: 260px;
    float: left;
    margin: 0 10px;
    margin-bottom: 30px;
}
.col-1 {
    margin-left: 0;
}
.col-3 {
    margin-right: 0;
}
.row {
    clear: both;
    background: transparent;
}