section {
    position: relative;
    width: 100px;
    height: 100px;
    background: #ccc;
    display: inline-block;
    margin: 40px;
    border-radius: 6px;
}
section div {
    position: absolute;
    min-width: 0px;
    height: 25px;
    line-height: 23px;
    padding: 0 10px;
    text-align: center;
    border-radius: 15px;
    background: red;
    border: 2px solid #fff;
    color: #fff;
}
.a {
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
}