
section {
    border: 1px solid #222;
    min-width: 300px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px 30px;
}
h1,p {
    margin: 0;
    max-width: 240px;
}
h1 {
    margin-bottom: 10px;
}
a {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    text-decoration: none;
    color: #111;
}