.main-wrapper {
    padding: 50px;
    position: relative;
}
hr {
    position: relative;
    z-index: 1;
}
span {
    position: absolute;
    z-index: 2;
    padding: 20px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}